<h4 class="text-center">Registre-se para adicionar games</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="form-group mb-3">
        <input class="form-control" type="text" placeholder="Digite seu nome" formControlName="fullName">
        <app-mensagem *ngIf="novoUsuarioForm.get('fullName')?.errors?.required && novoUsuarioForm.get('fullName')?.touched" mensagem="Por favor, digite seu nome"></app-mensagem>
    </div>
    <div class="form-group mb-3">
        <input class="form-control" type="text" placeholder="Digite seu e-mail" formControlName="email">
        <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched" mensagem="Por favor, digite um e-mail"></app-mensagem>
        <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched" mensagem="Formato de e-mail incorreto"></app-mensagem>
    </div>
    <div class="form-group mb-3">
        <input class="form-control" type="text" placeholder="Digite um nome de usuário" formControlName="userName">
        <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched" mensagem="O nome de usuário deve ser minúsculo"></app-mensagem>
        <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente" mensagem="Usuário já existente"></app-mensagem>
    </div>
    <div class="form-group mb-3">
        <input class="form-control" type="password" placeholder="Digite uma senha" formControlName="password">
        <app-mensagem *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario" mensagem="A senha deve ser diferente do nome de usuário"></app-mensagem>
    </div>
    <button class="btn btn-primary btn-block" [disabled]="novoUsuarioForm.invalid">Cadastrar</button>
</form>

<p>Já possui uma conta? <a [routerLink]="['']">Login</a></p>
